@import url('https://fonts.googleapis.com/css2?family=Coming+Soon:wght@400&display=swap');
body {
  	margin: 0; line-height: normal;
}
.victreeChild {
    position: absolute;
    top: -229.5px;
    left: 178.5px;
    width: 1465.4px;
    height: 1370.1px;
    object-fit: contain;
}
.victreeItem {
    position: absolute;
    top: -338.28px;
    left: 417px;
    width: 1038.2px;
    height: 1343.6px;
    object-fit: contain;
}
.victreeInner {
    position: absolute;
    top: -250.44px;
    left: -171.22px;
    width: 1337.2px;
    height: 1359px;
    object-fit: contain;
}
.polygonIcon {
    position: absolute;
    top: -367.58px;
    left: 121.33px;
    width: 879.7px;
    height: 1309.8px;
    object-fit: contain;
}
.previewRev12Icon {
    position: absolute;
    height: 34.08%;
    width: 26.39%;
    top: 38.96%;
    right: 36.81%;
    bottom: 26.95%;
    left: 36.81%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.badgeFreeVectorIconsDesign {
    position: absolute;
    top: 664px;
    left: 537px;
    width: 212.9px;
    height: 220.5px;
    object-fit: contain;
}
.adobeFireworksPaperPngFr {
    position: absolute;
    top: 201px;
    left: 450px;
    width: 600px;
    height: 683px;
    object-fit: cover;
}
.victree1 {
    position: absolute;
    top: 261px;
    left: 449.99px;
    display: inline-block;
    width: 741.4px;
    height: 168.7px;
    text-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff;
    transform:  rotate(3.1deg);
    transform-origin: 0 0;
}
.victree {
    width: 100%;
    position: relative;
    background-color: #100c0d;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 170px;
    color: #fff;
    font-family: 'Coming Soon';
}

